upstream test {
  {% for ip in upstream %}
    server {{ upstream[ip].server }}; 
  {% endfor %}
    server {{ ansible_default_ipv4.address }}; 
}
  
server {
        listen 80;
        listen [::80];
        server_name {{ item }};
        root /var/www/{{ item }};
        try_files $uri /index.html;
}
